._8055e658._7aa1ee94 {
  color: #bc3433;
  border-color: #bc3433;
}

._8055e658._7aa1ee94:hover {
  background: hsl(0.405405405405404, 58.7301587302%, 95%);
}

._8055e658._7aa1ee94.ac5f7ef8 {
  background-color: rgba(203, 56, 55, 0.15);
}

._8055e658._7aa1ee94 ._38ce9a85 {
  color: #bc3433;
}

._8055e658._7aa1ee94 svg,
._8055e658._7aa1ee94 .c3fc8940 {
  fill: hsl(0.4379562043795644, 57.3221757322%, 26.862745098%);
}

._8055e658.d9f99065 {
  color: #ffcd3a;
  color: var(--wombat-yellow);
  border-color: #ffcd3a;
  border-color: var(--wombat-yellow);
}